openapi: 3.0.0
info:
  version: '2.0'
  title: Fixflo
  description: Fixflo api docs
  termsOfService: 'https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf'
  contact:
    email: support@fixflo.com
    name: Support
  license:
    url: 'https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf'
    name: Fixflo API licence agreement
servers:
  - url: 'https://api-sandbox.fixflo.com/api/v2'
    description: live sandbox
  - url: 'https://plus.dev.fixflo.com/api/v2'
    description: dev
tags:
  - name: Agent
  - name: Agency
  - name: Asset
  - name: Block
  - name: Cost code
  - name: Brand
  - name: Contractor
  - name: Estate
  - name: FaultTree
  - name: Issue
  - name: Issue draft
  - name: Landlord
  - name: Leaseholder
  - name: Property
  - name: Service programme definition
  - name: Team
  - name: Tenant
  - name: Warranty
  - name: Webhook
  - name: Contractor networks
  - name: Customer
  - name: Service Event
  - name: Service Programme
  - name: Service Agreement
  - name: CustomFieldConfiguration
paths:
  /Agent:
    parameters: []
    post:
      summary: Agent
      operationId: post-agent
      tags:
        - Agent
      description: |-
        Saves (create or update) agent record

        If the Id has a value and the agent entity exists the agent will be updated. If the ExternalagentRef value is set this value must be unique for the given agency. If the Id has a value = null or "" an attempt to create a new agent will be made.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignedAgent'
          application/xml:
            schema:
              $ref: '#/components/schemas/AssignedAgent'
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/AssignedAgent'
    get:
      summary: Agent
      operationId: get-agent
      tags:
        - Agent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedAgent'
            application/xml:
              schema:
                type: object
                properties:
                  '':
                    type: string
      parameters:
        - schema:
            type: string
          in: query
          name: EmailAddress
          description: Agent email address
        - schema:
            type: string
          in: query
          name: ExternalAgentRef
          description: External ref
        - schema:
            type: string
          in: query
          name: AgentId
          description: Fixflo agent id
      description: Gets agent record
  '/Agent/{Id}/Brand':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
        description: The Fixflo id of the agent to be updated
    post:
      summary: Agent / brand
      tags:
        - Agent
      operationId: post-Agent-Id-Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/AssignedAgent'
      description: Update agent brand
      parameters:
        - schema:
            type: string
          in: query
          name: Id
          description: Id of agent
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
        description: |
          if this is set to null the agent will fall back to the default behaviour
  /Agents:
    get:
      summary: Agents
      tags:
        - Agent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/AssignedAgent'
              examples: {}
        '201':
          description: Created
      operationId: get-Agents
      description: Find agents by keyword
      parameters:
        - schema:
            type: string
          in: query
          name: keyword
          description: keywords to search
        - schema:
            type: integer
          in: query
          name: pg
          description: page to return
      x-internal: false
  /Block:
    get:
      summary: Block
      tags:
        - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
      operationId: get-Block
      parameters:
        - schema:
            type: number
          in: query
          name: Id
          description: The block id
        - schema:
            type: string
          in: query
          name: ExternalBlockRef
          description: External block reference
      description: Get block by id or external reference
    post:
      summary: Block
      tags:
        - Block
      operationId: post-Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Block'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Block'
          application/xml:
            schema:
              $ref: '#/components/schemas/Block'
        description: ''
      parameters: []
      description: Saves a block
    parameters: []
  /Blocks:
    get:
      summary: Blocks
      tags:
        - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Block'
      operationId: get-blocks
      description: Find blocks
      parameters:
        - schema:
            type: string
          in: query
          name: UpdatedSince
          description: Updated since
        - schema:
            type: string
          in: query
          name: keyword
          description: Keyword
        - schema:
            type: integer
          in: query
          name: pg
          description: page
      x-internal: false
    parameters: []
  '/Block/{Id}/Tags':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
        description: Id of Block
    get:
      summary: Block / tags
      tags:
        - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tag'
      operationId: get-Block-Id-Tags
      description: Returns tags associated with given property id
    post:
      summary: Block / tags
      tags:
        - Block
      operationId: post-block-Id-Tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Tag'
      description: Will replace all tags at the given block with the new given tags
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
  '/Block/{Id}/Brand':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
    get:
      summary: Block / brand
      tags:
        - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
      operationId: get-Block-id-Brand
      description: gets the current brand by id
      x-stoplight:
        id: y6vp2kyxgzxo8
    post:
      summary: Block / brand
      operationId: post-Block-id-Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Brand'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
            examples: {}
      description: sets a brand on the current block
      tags:
        - Block
      x-stoplight:
        id: rn646ghb7nite
  /CostCode:
    get:
      summary: Cost code
      description: Get cost code
      tags:
        - Cost code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCode'
      operationId: get-costcode
      parameters:
        - schema:
            type: string
          in: query
          name: CostCode
        - schema:
            type: string
          in: query
          name: BlockId
        - schema:
            type: string
          in: query
          name: ExternalBlockRef
    parameters: []
    post:
      description: Create/update cost code
      tags:
        - Cost code
      operationId: post-CostCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/CostCode'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCode'
      summary: Cost code
  /CostCodes:
    get:
      summary: Cost codes
      description: Finds cost codes
      tags:
        - Cost code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/CostCode'
      operationId: get-costcodes
      parameters:
        - schema:
            type: number
          in: query
          name: BlockId
          description: block Id
        - schema:
            type: string
          in: query
          name: ExternalBlockRef
          description: external block ref
        - schema:
            type: boolean
          in: query
          name: isDeleted
          description: is deleted
        - schema:
            type: integer
          in: query
          name: pg
          description: pg
        - schema:
            type: string
          in: query
          name: Keyword
          description: keyword
        - schema:
            type: number
          in: query
          name: EstateId
          description: estate id
        - schema:
            type: string
          in: query
          name: ExternalEstateRef
          description: external estate ref
    parameters: []
  '/Brand/{BrandId}':
    get:
      summary: Brand
      tags:
        - Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
      operationId: get-brand
      description: Gets brand by id
      parameters: []
    parameters:
      - schema:
          type: string
          format: uuid
        name: BrandId
        in: path
        description: The brand id (guid)
        required: true
  /Brands:
    get:
      summary: Brands
      description: Returns list of brands
      tags:
        - Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - x-stoplight:
                      id: q5spckbkmed9w
                    properties:
                      Items:
                        type: array
                        x-stoplight:
                          id: 3svdfocmsue55
                        items:
                          $ref: '#/components/schemas/Issue'
                type: object
              examples: {}
      operationId: get-brands
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
          description: page number to return
        - schema:
            type: integer
          in: query
          name: pgsz
          description: page size to return
    parameters: []
  '/Contractor/{id}':
    get:
      summary: Contractor
      description: Gets contractor
      tags:
        - Contractor
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contractor'
      operationId: get-contractor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contractor'
        description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: EmailAddress
        - schema:
            type: string
          in: query
          name: ExternalRef
      x-stoplight:
        id: jqwhlysfjxgmj
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
  /Contractor:
    parameters: []
    post:
      summary: Contractor
      tags:
        - Contractor
      operationId: post-Contractor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Contractor'
      description: |-
        Creates or updates a contractor. 

        If the Id of the contractor object is null or empty an attempt to create a new record will be attempted.  

        If the Id of the contractor object is not null or empty it must match an exiting contractor.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contractor'
      x-stoplight:
        id: ijxek19eh99pr
  '/Contractor/{Id}/Brand':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
    post:
      summary: Contractor brand
      tags:
        - Contractor
      operationId: post-Contractor-Id-Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    Entity:
                      $ref: '#/components/schemas/Brand'
      description: 'This endpoint sets the contractor brand. '
  /Contractors:
    get:
      summary: Contractors
      description: Find contractors
      tags:
        - Contractor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Contractor'
      operationId: get-contractors
      parameters:
        - schema:
            type: string
          in: query
          name: UpdatedSince
          description: Filters on items that have been updated since this date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: Keyword
          description: Keyword to search with
        - schema:
            type: integer
          in: query
          name: Pg
          description: Page number to return
    parameters: []
  /Contractor/Services:
    get:
      summary: Contractor / services
      tags:
        - Contractor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractorService'
      operationId: get-contractor-services
      description: Get the list of contractor services. There are no paramters for this request
    parameters: []
  '/Estate/{id}':
    get:
      summary: Estate
      tags:
        - Estate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estate'
      operationId: get-estate
      parameters:
        - schema:
            type: string
          in: query
          name: ExternalEstateRef
      description: Gets an estate by id or external reference (your ref)
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
  /Estate:
    post:
      summary: Estate
      tags:
        - Estate
      operationId: post-estate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Estate'
              examples:
                example-1:
                  value:
                    HttpStatusCode: 0
                    HttpStatusCodeDesc: string
                    Errors:
                      - string
                    Messages:
                      - string
                    Entity:
                      id: 0
                      Name: string
                      ExternalEstateRef: string
                      AssignedAgent:
                        Id: 0
                        ExternalRef: string
                        EmailAddress: string
                        DisplayName: string
                        ContactNo: string
                        IsDeleted: true
                        Brand:
                          Id: 38a5a5bb-dc30-49a2-b175-1de0d1488c43
                          Name: string
                        UpdateDate: '2019-08-24T14:15:22Z'
                      IsDeleted: true
                      UpdateDate: '2019-08-24T14:15:22Z'
      description: Create or update an estate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Estate'
        description: ''
  /Estates:
    get:
      summary: Estates
      tags:
        - Estate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Estate'
      operationId: get-estates
      parameters:
        - schema:
            type: string
          in: query
          name: Keyword
          description: Keyword to search with
        - schema:
            type: string
            format: date-time
          in: query
          name: UpdatedSince
          description: Filters on items that have been updated since this date time. (UTC date/time)
        - schema:
            type: integer
          in: query
          name: Pg
          description: pg
      description: Find estates by keyword or other parameters
    parameters: []
  '/FaultTree/Walk/{id}':
    get:
      summary: Fault tree walk
      tags:
        - FaultTree
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaultTreeBranch'
      operationId: get-faulttree-walk
      description: Fault tree branches or leaves
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
  '/Issue/{Id}':
    get:
      summary: Issue
      description: Get issue details
      tags:
        - Issue
      operationId: get-Issue
      responses:
        '200':
          description: OK
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Issue'
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
  /Issue/:
    post:
      summary: Issue
      tags:
        - Issue
      operationId: post-Issue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Issue'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Issue'
      description: |
        Currently this endpoint is only used for updating the AssignedAgent on an issue. Use null to unassign the issue. if the user cannot be found an error will be returned. GET https://[custom domain].fixflo.com/api/v2/Issue
    parameters: []
  '/Issue/{Id}/ExternalRef':
    post:
      summary: Issue / externalref
      tags:
        - Issue
      operationId: post-Issue-externalref
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Issue'
      requestBody:
        content:
          application/json:
            schema:
              type: string
      description: |
        This endpoint is used to POST an external ref to an Issue associated with given Issue Id.
        External Ref must be unique per agency.
        Will overwrite current value if one exists.
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
        description: Id associated with required Issue
  /Issues:
    get:
      summary: Issues
      tags:
        - Issue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        x-stoplight:
                          id: 6z38z7awmy6ua
                        items:
                          type: string
      operationId: get-issues
      description: "Find pages of issues. Optionally date periods may be selected. The issues are returned in created date/time order. For use cases see (downloading and importing issues)[#Downloading-and-importing-issues]\r\n\r\nThe GET url for each issue is returned rather than the whole issue object"
      parameters:
        - schema:
            type: string
          in: query
          name: CreatedSince
          description: Filters issues that have been created since the specified date time.(UTC date/time)
        - schema:
            type: string
          in: query
          name: CreatedBefore
          description: Filters issues that have been created before the specified date time.(UTC date/time)
        - schema:
            type: string
          in: query
          name: Status
          description: Filters on the issue status. Click here to see accepted values. If using the nuget package this is an enum.
        - schema:
            type: string
          in: query
          name: HasExternalPropertyRef
          description: Filters issues that are tied to properties that have an external reference
        - schema:
            type: string
            format: date-time
          in: query
          name: ClosedSince
          description: Filters issues that have been closed since the specified date time.(UTC date/time)
        - schema:
            type: string
            format: date-time
          in: query
          name: ClosedBefore
          description: Filters issues that have been closed before the specified date time.(UTC date/time)
        - schema:
            type: string
            format: date-time
          in: query
          name: JobCreatedSince
          description: Filters issues that have had a job created since the specified date time.(UTC date/time)
        - schema:
            type: string
            format: date-time
          in: query
          name: JobCreatedBefore
          description: Filters issues that have had a job created before the specified date time.(UTC date/time)
        - schema:
            type: string
            format: date-time
          in: query
          name: UpdatedSince
          description: Filters issues that have had a status change since the specified date time.(UTC date/time)
        - schema:
            type: string
            format: date-time
          in: query
          name: UpdatedBefore
          description: Filters issues that have had a status change before the specified date time.(UTC date/time)
        - schema:
            type: integer
          in: query
          name: page
          description: The page number to return
    parameters: []
  '/Issue/{Id}/Report':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
        description: Issue id
    get:
      summary: Issue / report
      tags:
        - Issue
      responses:
        '200':
          description: OK
          headers: {}
      operationId: get-issue-id-report
      description: Downloads issue report as PDF document. Please see note on downloading binary data.
  /Issues/JobAwarded:
    get:
      summary: Issue / job awarded
      tags:
        - Issue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          type: string
      operationId: get-issues-jobawarded
      description: Endpoint for listing issues with a status of JobAwarded.
      parameters:
        - schema:
            type: string
          in: query
          name: Page
          description: Page
    parameters: []
  /IssueDraft/Commit:
    post:
      summary: Commits an IssueDraft
      description: 'Converts an IssueDraft object to a live, newly reported issue'
      tags:
        - Issue draft
      operationId: post-IssueDraft-Commit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/IssueDraft'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueDraft'
  /Issues/JobCompleted:
    get:
      summary: Issue / job completed
      tags:
        - Issue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          type: string
      operationId: get-issues-jobcompleted
      description: |
        Endpoint for listing issues with a status of JobCompleted.
      parameters:
        - schema:
            type: string
          in: query
          name: Page
          description: Page
    parameters: []
  /Issues/Closed:
    get:
      summary: Issues / closed
      tags:
        - Issue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          type: string
      operationId: get-issues-closed
      description: Endpoint for listing issues with a status of Closed.
    parameters: []
  /IssueDraft:
    get:
      summary: Issue draft
      description: Get issue draft
      tags:
        - Issue draft
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueDraft'
      operationId: get-issuedraft
      parameters:
        - schema:
            type: string
          in: query
          name: Id
          description: Unique id of IssueDraft. Guid
    post:
      summary: Issue draft
      description: Create/update issue draft
      tags:
        - Issue draft
      operationId: post-IssueDraft
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/IssueDraft'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueDraft'
    parameters: []
  '/IssueDraft/{id}/IssueDraftMedia':
    get:
      summary: Issue draft / issue draft media
      description: Get issue draft mnedia
      tags:
        - Issue draft
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/IssueDraftMedia'
      operationId: get-issuedraftmedia
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
          description: page
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
  /IssueDraft/Delete:
    post:
      summary: Issue draft
      description: Deletes an IssueDraft object
      tags:
        - Issue draft
      operationId: post-IssueDraft-Delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueDraft'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueDraft'
  /IssueDraftMedia:
    parameters: []
    get:
      summary: Issue draft media
      description: Gets an IssueDraftMedia object
      tags:
        - Issue draft
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueDraftMedia'
      operationId: get-issuedraftmedia-Id
    post:
      summary: Issue draft media
      description: |-
        Posts an IssueDraftMedia object. 
        If the id in the body of the request is left empty a new IsseDraftMedia will be created. If a valid id is supplied in the body of the request the API will attempt to update the IssueDraftMedia to which the id belongs.
      tags:
        - Issue draft
      operationId: post-IssueDraftMedia-Id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/IssueDraftMedia'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueDraftMedia'
  '/IssueDraft/{Id}/Assets':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
        description: Unique id of the IssueDraft. Guid.
    get:
      summary: Issue draft assets
      description: Gets a page of assets associated with an issue Draft
      tags:
        - Issue draft
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      items:
                        $ref: '#/components/schemas/IssueDraftAsset'
      operationId: get-issuedraft-asset-Id
      x-internal: false
      parameters:
        - schema:
            type: string
          in: query
          name: pg
          description: Page
    post:
      summary: Issue draft assets
      description: Adds an asset to an IssueDraft
      tags:
        - Issue draft
      operationId: post-issuedraft-asset-Id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/IssueDraftAsset'
                    required:
                      - Entity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueDraftAsset'
      x-internal: false
  '/IssueDraftMedia/{Id}/Download':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
    get:
      summary: Issue draft media
      tags:
        - Issue draft
      responses:
        '200':
          description: OK
      operationId: get-issuedraftmedia-Id-download
      description: binary data of content type defined by IssueDraftMedia.ContentType
  '/Job/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Job id
    get:
      summary: Job
      description: Gets a Job object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
      operationId: get-job-id
  /Landlord:
    get:
      summary: Landlord
      description: Gets a landlord object
      tags:
        - Landlord
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Landlord'
      operationId: get-landlord
    parameters: []
    post:
      summary: Landlord
      description: Create/update landlord
      tags:
        - Landlord
      operationId: post-Landlord
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Landlord'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Landlord'
  '/Landlord/{id}/Brand':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Landlord / brand
      description: Gets the brand related to the landlord
      tags:
        - Landlord
      operationId: get-landlord-id-brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
    post:
      summary: Landlord / brand
      description: Updates the brand relating to the landlord
      tags:
        - Landlord
      operationId: landlord-brand-post
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Brand'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
  /Landlords:
    get:
      summary: Landlords
      description: Finds the relevant landlords
      tags:
        - Landlord
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Landlord'
      operationId: get-landlords
      parameters:
        - schema:
            type: string
          in: query
          name: Keyword
        - schema:
            type: string
            format: date-time
          in: query
          name: UpdatedSince
          description: string representing a date/time
        - schema:
            type: integer
          in: query
          name: pg
    parameters: []
  /LandlordProperty:
    get:
      summary: Landlord property
      description: Gets a specific landlord property. The LandlordPropertyId OR LandlordId and PropertyId must be supplied
      tags:
        - Landlord
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandlordProperty'
      operationId: get-landlordproperty
      parameters:
        - schema:
            type: integer
          in: query
          name: LandlordPropertyId
        - schema:
            type: integer
          in: query
          name: LandlordId
        - schema:
            type: integer
          in: query
          name: PropertyId
    parameters: []
    post:
      summary: Landlord property
      operationId: post-LandlordProperty
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandlordProperty'
      tags:
        - Landlord
      description: Adds a LandlordProperty object. Meaning the explicit relationship bewtween the landlord and the property is added
  /LandlordPropertyJoin:
    get:
      summary: Landlord property external
      description: Gets a specific landlord property. The LandlordPropertyId or ExternalPropertyRef and ExtrernalLandlordref or  LandlordId and PropertyId must be supplied
      tags:
        - Landlord
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandlordPropertyJoin'
      operationId: get-landlordpropertyJoin
      parameters:
        - schema:
            type: integer
          in: query
          name: LandlordPropertyId
        - schema:
            type: string
          in: query
          name: ExtrernalLandlordref
        - schema:
            type: integer
          in: query
          name: LandlordId
        - schema:
            type: string
          in: query
          name: ExternalPropertyRef
        - schema:
            type: integer
          in: query
          name: PropertyId
    parameters: []
    post:
      summary: Landlord property external
      operationId: post-LandlordPropertyJoin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/LandlordPropertyJoin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandlordPropertyJoin'
      tags:
        - Landlord
      description: Adds a LandlordProperty object. Meaning the explicit relationship bewtween the landlord and the property is added using external refs
  '/Landlord/{LandlordId}/LandlordProperties':
    parameters:
      - schema:
          type: string
        name: LandlordId
        in: path
        required: true
        description: LandlordId
    get:
      summary: Landlord / landlord properties
      description: Lists all LandlordProperties for a given landlord
      tags:
        - Landlord
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/LandlordProperty'
      operationId: get-landlord-LandlordId-landlordproperties
  /LandlordProperty/Delete:
    parameters: []
    post:
      summary: Landlord property / delete
      description: Deletes a LandlordProperty object. Meaning the explicit relationship bewtween the landlord and the property is removed
      tags:
        - Landlord
      operationId: post-LandlordProperty-Delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/LandlordProperty'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandlordProperty'
  /LandlordPropertyJoin/Delete:
    parameters: []
    post:
      summary: Landlord property external/ delete
      description: Deletes a LandlordProperty object. Meaning the explicit relationship bewtween the landlord and the property is removed
      tags:
        - Landlord
      operationId: post-LandlordPropertyJoin-Delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/LandlordPropertyJoin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandlordPropertyJoin'
  /LeaseholderPropertyJoin/Delete:
    parameters: []
    post:
      summary: Leaseholder property external/ delete
      description: Deletes a LeaseholderProperty object. Meaning the explicit relationship bewtween the leaseholder and the property is removed
      tags:
        - Leaseholder
      operationId: post-LeaseholderPropertyJoin-Delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/LeaseholderPropertyJoin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaseholderPropertyJoin'
  /LeaseholderPropertyJoin:
    get:
      summary: Leaseholder property external
      description: Gets a specific leaseholder property. The LeaseholderPropertyId or ExternalPropertyRef and ExtrernalLeaseholderRef or  LeaseholderId and PropertyId must be supplied
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaseholderPropertyJoin'
      operationId: get-LeaseholderpropertyJoin
      parameters:
        - schema:
            type: integer
          in: query
          name: LeaseholderPropertyId
        - schema:
            type: string
          in: query
          name: ExtrernalLeaseholderref
        - schema:
            type: integer
          in: query
          name: LeaseholderId
        - schema:
            type: string
          in: query
          name: ExternalPropertyRef
        - schema:
            type: integer
          in: query
          name: PropertyId
    parameters: []
    post:
      summary: Leaseholder property external
      operationId: post-LeaseholderPropertyJoin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/LeaseholderPropertyJoin'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaseholderPropertyJoin'
      tags:
        - Leaseholder
      description: Adds a LeaseholderProperty object. Meaning the explicit relationship bewtween the leaseholder and the property is added using external refs
  /LeaseholderPropertyJoin/Search:
    get:
      summary: Leaseholder property search
      description: 'Gets a list of leaseholders for a specified property. '
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    PreviousURL: null
                    NextURL: null
                    Items:
                      - Id: 593
                        ExternalLeaseholderRef: 001-001-001B
                        ExternalPropertyRef: 001-001-001
                        IsOccupier: false
                    TotalPages: 1
                    TotalItems: 1
                properties:
                  PreviousURL:
                    nullable: true
                  NextURL:
                    nullable: true
                  Items:
                    type: array
                    items:
                      type: object
                      properties:
                        Id:
                          type: integer
                        ExternalLeaseholderRef:
                          type: string
                        ExternalPropertyRef:
                          type: string
                        IsOccupier:
                          type: boolean
                  TotalPages:
                    type: integer
                  TotalItems:
                    type: integer
                  '':
                    type: string
        '404':
          description: No leaseholder properties found using the given Property Id
      operationId: get-leaseholderpropertyjoin-search
      parameters:
        - schema:
            type: integer
          in: query
          name: PropertyId
    parameters: []
  '/Leaseholder/{id}/Brand':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Leaseholder / brand
      description: Gets the brand applied to the leasholder
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
      operationId: get-leaseholder-brand
    post:
      summary: Leaseholder / brand
      description: Updates the brand applied to the leaseholder
      tags:
        - Leaseholder
      operationId: post-Leaseholder-id-Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Brand'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
  /Leaseholder:
    parameters: []
    get:
      summary: Leaseholder
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Leaseholder'
      operationId: get-leaseholder
      parameters:
        - schema:
            type: string
          in: query
          name: LeaseholderId
          description: Leaseholder id
        - schema:
            type: string
          in: query
          name: EmailAddress
          description: Leaseholder email address
        - schema:
            type: string
          in: query
          name: ExternalLeaseholderRef
          description: Leaseholder external ref
      description: Get leaseholder
    post:
      description: Get leaseholder
      summary: Leaseholder / save
      tags:
        - Leaseholder
      operationId: post-Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Leaseholder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Leaseholder'
  /Leaseholders:
    parameters: []
    get:
      description: Get leaseholders
      summary: Leaseholders
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Leaseholder'
      operationId: get-leaseholders
      parameters:
        - schema:
            type: string
          in: query
          name: Keyword
        - schema:
            type: string
            format: date-time
          in: query
          name: updatedSince
        - schema:
            type: integer
          in: query
          name: pg
  /LeaseholderProperty:
    get:
      summary: Leaseholder property
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaseholderProperty'
      operationId: get-leaseholderproperty
      parameters:
        - schema:
            type: string
          in: query
          name: LeaseholderPropertyId
        - schema:
            type: string
          in: query
          name: LeaseholderId
        - schema:
            type: string
          in: query
          name: PropertyId
      description: Either a LeaseholderPropertyId OR a LeaseholderId and PropertyId must be supplied.
  '/Leaseholder/{LeaseholderId}/LeaseholderProperties':
    parameters:
      - schema:
          type: string
        name: LeaseholderId
        in: path
        required: true
        description: Leaseholder id
    get:
      description: Get leaseholders properties
      summary: Leaseholder / leaseholder properties
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/LeaseholderProperty'
      operationId: get-leaseholder-leaseholderproperties
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
  /LeaseholderProperty/Delete:
    post:
      summary: Leaseholder property / delete
      description: Deletes a LeaseholderProperty relationship
      tags:
        - Leaseholder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Leaseholder'
      operationId: get-leaseholderproperty-delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaseholderProperty'
    parameters: []
  '/Property/{Id}/Addresses':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
    get:
      description: Get property addresses
      summary: Property / addresses
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/PropertyAddress'
      operationId: get-property-id-addresses
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
  /Property:
    get:
      summary: Property
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
      operationId: get-property
      parameters:
        - schema:
            type: string
          in: query
          name: Id
          description: Unique Fixflo id of property
        - schema:
            type: string
          in: query
          name: ExternalPropertyRef
          description: External property ref
      description: Either Id or ExternalPropertyRef must be supplied. (A property is synonymous with a unit)
    parameters: []
    post:
      summary: Property / save
      tags:
        - Property
      operationId: post-property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Property'
      description: |-
        Update or create a property.

        If the PropertyId has a value > 0 and the property entity exists the property will be updated. If the ExternalPropertyRef value is set this value must be unique for the given agency. If the PropertyId has a value = 0 an attempt to create a new property will be made. If the property address already exists a new property will NOT be created and the existing property with the matching address will be returned. This endpoint does not update the address of an existing property. If you wish to update the address on a property please use [UpdatePropertyAddress](#endpoints-update-property-address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
  '/Property/{Id}/Issues':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
        description: Property id
    get:
      summary: Property / issues
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/IssueSummary'
      operationId: get-property-Id-issues
      description: Get property issues
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
          description: The page number to return
        - schema:
            type: string
          in: query
          name: TenantId
          description: Used to filter the issues to only those raised by the tenant matching the provided Id
        - schema:
            type: string
          in: query
          name: TenantEmail
          description: Used to filter the issues to only those raised by the tenant matching the provided email
  /Property/Issues:
    parameters: []
    get:
      summary: Property / issues
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/IssueSummary'
      operationId: get-property-Issues?externalPropertyRef=-ExternalPropertyRef
      description: Get issues at a property by external property ref
      parameters:
        - schema:
            type: string
          in: query
          name: ExternalPropertyRef
          required: true
        - schema:
            type: integer
          in: query
          name: TenantId
          description: Used to filter the issues to only those raised by the tenant matching the provided Id
        - schema:
            type: string
          in: query
          name: TenantEmail
          description: Used to filter the issues to only those raised by the tenant matching the provided email
        - schema:
            type: string
          in: query
          name: pg
          description: The page number to return
      tags:
        - Property
  '/Property/{Id}/Tags':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
        description: Id of the Property
    get:
      summary: Property / tags
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
      operationId: get-Property-Id-Tags
      description: Returns tags associated with given property id
    post:
      summary: Property / tags
      tags:
        - Property
      operationId: post-property-Id-Tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Tag'
      description: Will replace all tags at the given property with the new given tags
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
  '/Property/{Id}/Notes':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
    get:
      summary: Property / notes
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    NoteContent: Sample Notes
                    HtmlBtnId: btn-entitynote-Property-82875
                    EntityNoteGuid: 0fda9566-f810-42df-be87-68df735511a1
                    EntityId: '82875'
                    AgencyId: AG84322
                    EntityNoteType: 5
                    HasEntityNote: true
                properties:
                  NoteContent:
                    type: string
                  HtmlBtnId:
                    type: string
                  EntityNoteGuid:
                    type: string
                  EntityId:
                    type: string
                  AgencyId:
                    type: string
                  EntityNoteType:
                    type: integer
                  HasEntityNote:
                    type: boolean
              examples:
                example-1:
                  value:
                    NoteContent: string
                    HtmlBtnId: string
                    EntityNoteGuid: string
                    EntityId: string
                    AgencyId: string
                    EntityNoteType: 0
                    HasEntityNote: true
        '404':
          description: Property not found
          content:
            application/json:
              schema:
                type: string
      operationId: get-Property-Id-Notes
      description: Returns notes associated with given property id
    post:
      summary: Property / notes
      tags:
        - Property
      operationId: post-property-Id-Notes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    NoteContent: Sample notes
                    HtmlBtnId: btn-entitynote-Property-82875
                    EntityNoteGuid: 5fd4196a-b0ba-4825-b9fd-977055b9b2c5
                    EntityId: '82875'
                    AgencyId: AG84322
                    EntityNoteType: 5
                    HasEntityNote: true
                properties:
                  NoteContent:
                    type: string
                  HtmlBtnId:
                    type: string
                  EntityNoteGuid:
                    type: string
                  EntityId:
                    type: string
                  AgencyId:
                    type: string
                  EntityNoteType:
                    type: integer
                  HasEntityNote:
                    type: boolean
        '404':
          description: Property not found
          content:
            application/json:
              schema:
                type: string
        '409':
          description: Property already has notes so will not be overwritten
          content:
            application/json:
              schema:
                type: string
      description: Will add notes to the property associated with given property id
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: Notes to be added
    delete:
      summary: Property / notes
      operationId: delete-Property-PropertyId-Notes
      responses:
        '200':
          description: OK
        '404':
          description: Property not found
          content:
            application/json:
              schema:
                type: string
      description: Will delete notes associated with given property id
      tags:
        - Property
  '/Property/{Id}/Tenants':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
    get:
      summary: Property / tenants
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'
      operationId: get-property-id-tenants
      description: Get property tenants
  '/Property/{PropertyId}/LandlordProperties':
    parameters:
      - schema:
          type: string
        name: PropertyId
        in: path
        required: true
    get:
      summary: Property / landlord properties
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/LandlordProperty'
      operationId: get-property-propertyId-landlordproperties
      description: Get landlords properties
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
  '/PropertyAddress/{Id}':
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
    get:
      summary: Property address
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyAddress'
      operationId: get-propertyaddress-Id
      description: Get property address
  /PropertyAddress/Merge:
    post:
      summary: Property address / merge
      tags:
        - Property
      operationId: post-propertyaddress-merge
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/PropertyAddress'
      description: Merge a property address into a property. In other words an existing property address is added to an existing property.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyAddress'
  /PropertyAddress/Split:
    post:
      summary: Property address / split
      tags:
        - Property
      operationId: post-propertyaddress-split
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/PropertyAddress'
            application/xml:
              schema:
                type: object
                properties: {}
      description: |
        Splits out an existing property address from a property.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyAddress'
        description: PropertyAddress propreties however only PropertyAddressId is used
  /PropertyAddress/Search:
    parameters: []
    get:
      summary: Property address / search
      tags:
        - Property
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/PropertyAddress'
      operationId: get-propertyaddress-search
      description: Search property addresses
      parameters:
        - schema:
            type: string
          in: query
          name: Keyword
        - schema:
            type: string
          in: query
          name: ExternalPropertyRef
        - schema:
            type: string
          in: query
          name: KeyReference
          description: Key reference
        - schema:
            type: string
          in: query
          name: HasExternalPropertyRef
        - schema:
            type: string
            format: date-time
          in: query
          name: UpdatedSince
          description: "\tFilters on items that have been updated since this date time. (UTC date/time)"
  /Property/UpdateAddress:
    post:
      summary: Property / update address
      tags:
        - Property
      operationId: post-Property-UpdateAddress
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Property'
      description: |-
        Updates the primary address of a property. This call takes the Id or ExternalPropertyRef of an existing property and sets the primary address of the property to the new data. The previous address will be maintained as an alt address.

        As a process this call creates a new property with the new address, merges the new property to the existing property then sets the new address to be the primary address.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
  /ServiceProgrammeDef:
    get:
      summary: Service programme definition
      tags:
        - Service programme definition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProgrammeDef'
      operationId: get-serviceprogrammedef
      parameters:
        - schema:
            type: string
          in: query
          name: Id
      description: Get service programme definition
    post:
      summary: Service programme definition
      tags:
        - Service programme definition
      operationId: post-serviceprogrammedef
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/ServiceProgrammeDef'
      description: 'If Id is not set the record will be added, the record corresponding to the Id will be updated. If Id is set and a record cannot be found a 404 error will be returned.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceProgrammeDef'
  /ServiceProgrammeDefs:
    parameters: []
    get:
      summary: Service programme definition
      tags:
        - Service programme definition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceProgrammeDef'
      operationId: get-serviceprogrammedefs?pg=-pg-&keyword=-keyword-&IsDisabled=-isDisabled
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
        - schema:
            type: string
          in: query
          name: keyword
        - schema:
            type: boolean
          in: query
          name: isDisabled
      description: Get service programme definitions
  '/ServiceProgramme/{Id}':
    get:
      summary: Service programme by Id
      tags:
        - Service Programme
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProgramme'
      operationId: get-serviceprogramme
      parameters:
        - schema:
            type: string
          in: query
          name: Id
      description: Get service programme
    parameters:
      - schema:
          type: string
        name: Id
        in: path
        required: true
  /ServiceProgrammes:
    parameters: []
    get:
      summary: Service programmes by Agency
      tags:
        - Service Programme
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceProgramme'
      operationId: get-serviceprogrammes
      parameters:
        - schema:
            type: integer
          in: query
          name: propertyId
        - schema:
            type: integer
          in: query
          name: blockId
        - schema:
            type: string
          in: query
          name: serviceProgrammeDefId
        - schema:
            type: boolean
          in: query
          name: isStatutory
        - schema:
            type: integer
          in: query
          name: pg
        - schema:
            type: string
          in: query
          name: externalPropertyRef
        - schema:
            type: integer
          in: query
          name: complianceState
        - schema:
            type: string
          in: query
          name: externalBlockRef
      description: Get agency service programmes
      x-internal: false
  '/Property/{propertyId}/ServiceProgrammes':
    parameters:
      - schema:
          type: string
        name: propertyId
        in: path
        required: true
    get:
      summary: Service programmes by Property
      tags:
        - Service Programme
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ServiceProgramme'
      operationId: get-serviceprogrammes-by-property
      parameters:
        - schema:
            type: string
          in: query
          name: serviceProgrammeDefId
        - schema:
            type: boolean
          in: query
          name: isStatutory
        - schema:
            type: integer
          in: query
          name: pg
        - schema:
            type: integer
          in: query
          name: complianceState
      description: Get property service programmes
      x-internal: false
      x-stoplight:
        id: jlom6mtaai4s6
  '/ServiceEvent/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The id of the Service Event
    get:
      summary: Service event by Id
      tags:
        - Service Event
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEvent'
      operationId: get-ServiceEvent
      parameters: []
      description: Get service event
      x-internal: false
  /ServiceEvents:
    get:
      summary: Service events by Agency
      tags:
        - Service Event
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        $ref: '#/components/schemas/ServiceEvent'
      operationId: get-ServiceEvents
      description: Get agency service events
      parameters:
        - schema:
            type: string
          in: query
          name: pg
          description: The page number to return
        - schema:
            type: integer
          in: query
          name: propertyId
          description: Filters service events by the property Id of the property associated with them
        - schema:
            type: string
          in: query
          name: externalPropertyRef
          description: Filters service events by the external property ref of the property associated with them
        - schema:
            type: integer
          in: query
          name: blockId
          description: Filters service events by the block Id of the block associated with them
        - schema:
            type: string
          in: query
          name: externalBlockRef
          description: Filters service events by the external block ref of the block associated with them
        - schema:
            type: string
          in: query
          name: serviceProgrammeDefId
          description: Filters service events by their associated service programme def
        - schema:
            type: string
          in: query
          name: serviceProgrammeId
          description: Filters service events by their associated service programme
        - schema:
            type: string
          in: query
          name: dueDateSince
          description: Filters service events that are due after the specified date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: dueDateBefore
          description: Filters service events that are due before the specified date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: instructionDateSince
          description: Filters service events that are due for instruction after the specified date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: instructionDateBefore
          description: Filters service events that are due for instruction before the specified date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: updateDateSince
          description: Filters service events that have been updated since the specified date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: updateDateBefore
          description: Filters service events that have been updated before the specified date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: completedDateSince
          description: Filters service events that have been completed since the specified date time. (UTC date/time)
        - schema:
            type: string
          in: query
          name: completedDateBefore
          description: Filters service events that have been completed before the specified date time. (UTC date/time)
      x-internal: false
  '/ServiceEvent/{id}/Medias':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The id of the Service Event
    get:
      summary: Service event media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      items:
                        $ref: '#/components/schemas/Media'
      operationId: get-ServiceEvent-Media
      parameters:
        - schema:
            type: string
          in: query
          name: pg
          description: The page number to return
      description: Get all Media associated with a Service Event
      x-internal: false
      tags:
        - Service Event
  /Team:
    get:
      summary: Team
      tags:
        - Team
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
      operationId: get-team
      description: Get team
      parameters:
        - schema:
            type: string
          in: query
          name: Id
    parameters: []
    post:
      summary: Team
      tags:
        - Team
      operationId: post-team
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Team'
      description: Save team
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
  /Teams:
    parameters: []
    get:
      description: Get teams
      summary: Teams
      tags:
        - Team
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Team'
      operationId: get-teams?pg=-pg
      parameters:
        - schema:
            type: integer
          in: query
          name: pg
  /Tenant:
    get:
      summary: Tenant
      tags:
        - Tenant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
      operationId: get-tenant
      description: Get tenant
      parameters:
        - schema:
            type: string
          in: query
          name: Id
          description: Tenant id
        - schema:
            type: string
          in: query
          name: EmailAddress
          description: Email address
        - schema:
            type: string
          in: query
          name: ExternalRef
          description: External reference
    parameters: []
    post:
      description: Save tenant
      summary: Tenant
      tags:
        - Tenant
      operationId: post-Tenant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Tenant'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant'
  '/Tenant/{id}/Brand':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Tenant / brand
      description: Updates the tenants brand
      tags:
        - Tenant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
      operationId: post-tenant-id-brand
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
  /Tenants:
    parameters: []
    get:
      summary: Tenants
      tags:
        - Tenant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PrevNextPager'
                  - type: object
                    properties:
                      Items:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tenant'
      operationId: get-tenants
      parameters:
        - schema:
            type: string
          in: query
          name: Keyword
        - schema:
            type: integer
          in: query
          name: pg
        - schema:
            type: string
            format: date-time
          in: query
          name: UpdatedSince
      description: Get tenants
  /Warranty/Add:
    post:
      summary: Warranty / add
      tags:
        - Warranty
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Warranty'
      operationId: post-warranty-add
      description: Creates a new warranty
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Warranty'
  /Warranty/Save:
    post:
      description: Save warranty
      summary: Warranty / save
      tags:
        - Warranty
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Warranty'
      operationId: post-warranty-save
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Warranty'
    parameters: []
  '/Warranty/{id}/Delete':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Warranty / delete
      tags:
        - Warranty
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/Warranty'
      operationId: post-warranty-id-delete
      description: Deletes a warranty
  /Webhooks:
    get:
      summary: Webhooks
      tags:
        - Webhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
              examples: {}
            application/xml:
              schema:
                type: object
                properties: {}
            multipart/form-data:
              schema:
                type: object
                properties: {}
      operationId: get-webhooks
      description: Returns a list of webhooks which are set up for your agency
      parameters: []
  /Webhook/Activity:
    get:
      summary: Webhooks
      tags:
        - Webhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/PrevNextPager'
                    - type: object
                      properties:
                        Items:
                          type: array
                          items:
                            $ref: '#/components/schemas/WebhookDeliveryItem'
              examples:
                example-1:
                  value:
                    - PreviousURL: string
                      NextURL: string
                      TotalItems: 0
                      TotalPages: 0
                      Items:
                        - id: string
                          WebHookUrl: string
                          SendTime: '2019-08-24T14:15:22Z'
                          Failed: string
                          FailureMessage: string
                          ResponseStatus: string
                          RequestBody: string
                          ResponseBody: string
      operationId: get-webhook-activity
      description: Returns a paged list (20 per page) of activity from a specific webhook listed in reverse time order
      parameters:
        - schema:
            type: string
          in: query
          name: Id
          description: The webhook id
        - schema:
            type: boolean
          in: query
          name: FailedOnly
          description: set as true if you want only failed attempts to return
        - schema:
            type: integer
          in: query
          name: pg
    parameters: []
  /Webhook/Subscribe:
    post:
      summary: Webhook / subscribe
      tags:
        - Webhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
      operationId: get-webhook-subscribe
      description: Create a new webhook for the agency
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                TargetUrl:
                  type: string
                  description: the full url of the webhook including querystring
                  format: uri
                Event:
                  type: string
                  description: null for all events
                  enum:
                    - Property changed
                    - Property added
                    - Property deactivated
                    - Issue state change
                    - Issue add
                    - Job invoice updated
                    - Issue closed
                Events:
                  type: array
                  description: empty for all events
                  items:
                    type: string
                    enum:
                      - Property changed
                      - Property added
                      - Property deactivated
                      - Issue state change
                      - Issue add
                      - Job invoice updated
                      - Issue closed
                Secret:
                  type: string
                  minLength: 16
                  maxLength: 64
                RemoveBody:
                  type: boolean
                HttpMethod:
                  type: string
                  description: 'POST, PATCH, PUT'
                  enum:
                    - POST
                    - PUT
                    - PUSH
                EntityType:
                  type: string
                  description: Property or Issue
                  enum:
                    - Issue
                    - Property
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
  /Webhook/Unsubscribe:
    delete:
      summary: Webhook / unsubscribe
      tags:
        - Webhook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-webhook-unsubscribe
      parameters:
        - schema:
            type: string
          in: query
          name: id
      description: Unsubscribe webhook
  '/Issue/{issueid}/jobjobber':
    parameters:
      - schema:
          type: string
        name: issueid
        in: path
        required: true
    post:
      summary: Jobber
      operationId: post-Issue-issueid-jobjobber
      responses:
        '200':
          description: OK
          headers: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddJobberDetails'
            examples:
              example-1:
                value:
                  Jobber:
                    id: string
                    ExternalReference: string
                  JobExternalReference: string
        description: ''
      description: Add contractor to a job
      tags:
        - Contractor networks
  '/Issue/{issueid}/jobcompletiondetails':
    parameters:
      - schema:
          type: string
        name: issueid
        in: path
        required: true
    get:
      summary: Completion details
      operationId: get-Issue-issueid-jobcompletiondetails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCompletionDetails'
      description: Get completion details
      tags:
        - Contractor networks
    post:
      summary: Completion details
      operationId: post-Issue-issueid-jobcompletiondetails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      Entity:
                        $ref: '#/components/schemas/JobCompletionDetails'
      description: Save job completion details
      tags:
        - Contractor networks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCompletionDetails'
        description: ''
  '/issue/{issueid}/completiondoc':
    parameters:
      - schema:
          type: string
        name: issueid
        in: path
        required: true
    post:
      summary: Completion document / Add
      operationId: post-job-completion-document
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Media'
          application/xml:
            schema:
              $ref: '#/components/schemas/Media'
[...]
