openapi: 3.2.0
info:
  version: '2.0'
  title: Fixflo Block API
  description: Fixflo api docs
  termsOfService: https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf
  contact:
    email: support@fixflo.com
    name: Support
  license:
    url: https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf
    name: Fixflo API licence agreement
servers:
- url: https://api-sandbox.fixflo.com/api/v2
  description: live sandbox
- url: https://plus.dev.fixflo.com/api/v2
  description: dev
security:
- Bearer: []
tags:
- name: Block
paths:
  /Block:
    parameters: []
    get:
      summary: Block
      tags:
      - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
      operationId: get-Block
      parameters:
      - schema:
          type: number
        in: query
        name: Id
        description: The block id
      - schema:
          type: string
        in: query
        name: ExternalBlockRef
        description: External block reference
      description: Get block by id or external reference
    post:
      summary: Block
      tags:
      - Block
      operationId: post-Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    Entity:
                      $ref: '#/components/schemas/Block'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Block'
          application/xml:
            schema:
              $ref: '#/components/schemas/Block'
        description: ''
      parameters: []
      description: Saves a block
  /Blocks:
    parameters: []
    get:
      summary: Blocks
      tags:
      - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PrevNextPager'
                - type: object
                  properties:
                    Items:
                      type: array
                      items:
                        $ref: '#/components/schemas/Block'
      operationId: get-blocks
      description: Find blocks
      parameters:
      - schema:
          type: string
        in: query
        name: UpdatedSince
        description: Updated since
      - schema:
          type: string
        in: query
        name: keyword
        description: Keyword
      - schema:
          type: integer
        in: query
        name: pg
        description: page
      x-internal: false
  /Block/{Id}/Tags:
    parameters:
    - schema:
        type: string
      name: Id
      in: path
      required: true
      description: Id of Block
    get:
      summary: Block / tags
      tags:
      - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
            application/xml:
              schema:
                $ref: '#/components/schemas/Tag'
      operationId: get-Block-Id-Tags
      description: Returns tags associated with given property id
    post:
      summary: Block / tags
      tags:
      - Block
      operationId: post-block-Id-Tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    Entity:
                      $ref: '#/components/schemas/Tag'
      description: Will replace all tags at the given block with the new given tags
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
  /Block/{Id}/Brand:
    parameters:
    - schema:
        type: string
      name: Id
      in: path
      required: true
    get:
      summary: Block / brand
      tags:
      - Block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
      operationId: get-Block-id-Brand
      description: gets the current brand by id
      x-stoplight:
        id: y6vp2kyxgzxo8
    post:
      summary: Block / brand
      operationId: post-Block-id-Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    Entity:
                      $ref: '#/components/schemas/Brand'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
            examples: {}
      description: sets a brand on the current block
      tags:
      - Block
      x-stoplight:
        id: rn646ghb7nite
components:
  schemas:
    Envelope:
      title: Envelope
      type: object
      description: This object is used to carry/return responses following post operations.
      properties:
        HttpStatusCode:
          type: integer
        HttpStatusCodeDesc:
          type: string
        Errors:
          type: array
          items:
            type: string
        Messages:
          type: array
          items:
            type: string
    AssignedAgent:
      title: AssignedAgent
      type: object
      properties:
        Id:
          type: integer
          format: int64
        ExternalRef:
          type: string
        EmailAddress:
          type: string
        DisplayName:
          type: string
        ContactNo:
          type: string
        IsDeleted:
          type: boolean
        Brand:
          $ref: '#/components/schemas/Brand'
        UpdateDate:
          type: string
          format: date-time
          description: Updated date/time (UTC).
    Tag:
      title: Tag
      type: object
      properties:
        Name:
          type: string
      x-examples:
        example-1:
          Name: Tag1
    PrevNextPager:
      type: object
      properties:
        TotalItems:
          type: integer
          x-stoplight:
            id: qbm018n4fbivf
          description: The total number of items
        TotalPages:
          type: integer
          x-stoplight:
            id: 8d0f4tjvn3d91
          description: 'The total number of pages

            '
        Items:
          x-stoplight:
            id: x8n82kadpvt9w
          type: array
          items:
            x-stoplight:
              id: yp4jiel1kmn2j
            type: object
        NextURL:
          type: string
          x-stoplight:
            id: tcm929q75tirz
          description: The URL of the next page of results
        PreviousURL:
          type: string
          x-stoplight:
            id: 3hruq0fcrc5sz
          description: 'The URL of the previous page of results

            '
    Warranty:
      title: Warranty
      type: object
      properties:
        id:
          type: string
        StartDate:
          format: date-time
          type: string
          description: 'The warranty start date

            '
        EndDate:
          format: date-time
          type: string
          description: 'The warranty end date

            '
        ExternalContractorRef:
          type: string
          description: 'The external reference for the contractor assigned to the warranty

            '
        AssignedContractorCaption:
          type: string
          description: 'A name caption for the contractor assigned to the warranty

            '
        PropertyExternalRef:
          type: string
          description: 'The external reference for the property which the warranty applies to

            '
        BlockExternalRef:
          type: string
          description: 'The external reference for the block which the warranty applies to

            '
    Address:
      title: Address
      type: object
      properties:
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        Town:
          type: string
        County:
          type: string
        PostCode:
          type: string
        Country:
          type: string
          description: If set this should be a two letter ISO code. If the information supplied does not match an ISO code it will default to blank
    Block:
      type: object
      properties:
        Id:
          type: integer
        ExternalBlockReference:
          type: string
        Name:
          type: string
        Address:
          $ref: '#/components/schemas/Address'
        IsStandAlone:
          type: boolean
        KeyReference:
          type: string
        ManagementStartDate:
          type: string
          format: date-time
          description: Management end date.
        ManagementEndDate:
          type: string
          format: date-time
          description: Management end date.
        EstateId:
          type: integer
        ExternalEstateRef:
          type: string
        LandlordId:
          type: string
        ExternalLandlordRef:
          type: string
        PropertyManager:
          $ref: '#/components/schemas/AssignedAgent'
        AssignedAgent:
          $ref: '#/components/schemas/AssignedAgent'
        IsDeleted:
          type: boolean
        Created:
          type: string
          format: date-time
          description: Created date/time (UTC).
        UpdateDate:
          type: string
          format: date-time
          description: Updated date/time (UTC).
        Warranties:
          type: array
          description: List of warranties which apply to the block
          items:
            $ref: '#/components/schemas/Warranty'
    Brand:
      title: Brand
      type: object
      properties:
        Id:
          type: string
          format: uuid
          description: Unique GUID of brand.
        Name:
          type: string
          description: Brand name
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: ''
x-internal: false
