openapi: 3.2.0
info:
  version: '2.0'
  title: Fixflo Agent API
  description: Fixflo api docs
  termsOfService: https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf
  contact:
    email: support@fixflo.com
    name: Support
  license:
    url: https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf
    name: Fixflo API licence agreement
servers:
- url: https://api-sandbox.fixflo.com/api/v2
  description: live sandbox
- url: https://plus.dev.fixflo.com/api/v2
  description: dev
security:
- Bearer: []
tags:
- name: Agent
paths:
  /Agent:
    parameters: []
    post:
      summary: Agent
      operationId: post-agent
      tags:
      - Agent
      description: 'Saves (create or update) agent record


        If the Id has a value and the agent entity exists the agent will be updated. If the ExternalagentRef value is set this value must be unique for the given agency. If the Id has a value = null or "" an attempt to create a new agent will be made.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignedAgent'
          application/xml:
            schema:
              $ref: '#/components/schemas/AssignedAgent'
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    Entity:
                      $ref: '#/components/schemas/AssignedAgent'
    get:
      summary: Agent
      operationId: get-agent
      tags:
      - Agent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignedAgent'
            application/xml:
              schema:
                type: object
                properties:
                  ? ''
                  : type: string
      parameters:
      - schema:
          type: string
        in: query
        name: EmailAddress
        description: Agent email address
      - schema:
          type: string
        in: query
        name: ExternalAgentRef
        description: External ref
      - schema:
          type: string
        in: query
        name: AgentId
        description: Fixflo agent id
      description: Gets agent record
  /Agent/{Id}/Brand:
    parameters:
    - schema:
        type: string
      name: Id
      in: path
      required: true
      description: The Fixflo id of the agent to be updated
    post:
      summary: Agent / brand
      tags:
      - Agent
      operationId: post-Agent-Id-Brand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - type: object
                  properties:
                    Entity:
                      $ref: '#/components/schemas/AssignedAgent'
      description: Update agent brand
      parameters:
      - schema:
          type: string
        in: query
        name: Id
        description: Id of agent
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
        description: 'if this is set to null the agent will fall back to the default behaviour

          '
  /Agents:
    get:
      summary: Agents
      tags:
      - Agent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PrevNextPager'
                - type: object
                  properties:
                    Items:
                      type: array
                      items:
                        $ref: '#/components/schemas/AssignedAgent'
              examples: {}
        '201':
          description: Created
      operationId: get-Agents
      description: Find agents by keyword
      parameters:
      - schema:
          type: string
        in: query
        name: keyword
        description: keywords to search
      - schema:
          type: integer
        in: query
        name: pg
        description: page to return
      x-internal: false
components:
  schemas:
    PrevNextPager:
      type: object
      properties:
        TotalItems:
          type: integer
          x-stoplight:
            id: qbm018n4fbivf
          description: The total number of items
        TotalPages:
          type: integer
          x-stoplight:
            id: 8d0f4tjvn3d91
          description: 'The total number of pages

            '
        Items:
          x-stoplight:
            id: x8n82kadpvt9w
          type: array
          items:
            x-stoplight:
              id: yp4jiel1kmn2j
            type: object
        NextURL:
          type: string
          x-stoplight:
            id: tcm929q75tirz
          description: The URL of the next page of results
        PreviousURL:
          type: string
          x-stoplight:
            id: 3hruq0fcrc5sz
          description: 'The URL of the previous page of results

            '
    AssignedAgent:
      title: AssignedAgent
      type: object
      properties:
        Id:
          type: integer
          format: int64
        ExternalRef:
          type: string
        EmailAddress:
          type: string
        DisplayName:
          type: string
        ContactNo:
          type: string
        IsDeleted:
          type: boolean
        Brand:
          $ref: '#/components/schemas/Brand'
        UpdateDate:
          type: string
          format: date-time
          description: Updated date/time (UTC).
    Brand:
      title: Brand
      type: object
      properties:
        Id:
          type: string
          format: uuid
          description: Unique GUID of brand.
        Name:
          type: string
          description: Brand name
    Envelope:
      title: Envelope
      type: object
      description: This object is used to carry/return responses following post operations.
      properties:
        HttpStatusCode:
          type: integer
        HttpStatusCodeDesc:
          type: string
        Errors:
          type: array
          items:
            type: string
        Messages:
          type: array
          items:
            type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: ''
x-internal: false
