openapi: 3.2.0
info:
  version: '2.0'
  title: Fixflo Media API
  description: Fixflo api docs
  termsOfService: https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf
  contact:
    email: support@fixflo.com
    name: Support
  license:
    url: https://fixflostore.blob.core.windows.net/live-assets/SystemApplicationDeveloperAndAPILicenseAgreement.pdf
    name: Fixflo API licence agreement
servers:
- url: https://api-sandbox.fixflo.com/api/v2
  description: live sandbox
- url: https://plus.dev.fixflo.com/api/v2
  description: dev
security:
- Bearer: []
tags:
- name: Media
paths:
  /Medias/PropertyCertificate:
    parameters: []
    get:
      summary: Media Search
      tags:
      - Media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PrevNextPager'
                - type: object
                  x-stoplight:
                    id: nz1f5jo5vqls0
                  properties:
                    Items:
                      type: array
                      x-stoplight:
                        id: 0pc8ymfvfuwt7
                      items:
                        $ref: '#/components/schemas/Media'
      operationId: get-Medias
      x-stoplight:
        id: hdl5znfkeuot0
      requestBody:
        content: {}
      parameters:
      - schema:
          type: string
        in: query
        name: PropertyId
      - schema:
          type: string
        in: query
        name: ExternalPropertyRef
      - schema:
          type: string
        in: query
        name: BlockId
      - schema:
          type: string
        in: query
        name: ExternalBlockRef
      - schema:
          type: string
        in: query
        name: ServiceProgrammeDefId
      - schema:
          type: string
        in: query
        name: Created.To
      - schema:
          type: string
        in: query
        name: Created.From
  /Media/PropertyCertificate/{Id}:
    parameters:
    - schema:
        type: string
      name: Id
      in: path
      required: true
    get:
      summary: Your GET endpoint
      tags:
      - Media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
      operationId: get-Media
      x-stoplight:
        id: efqlokc2daq0j
    post:
      summary: ''
      operationId: post-Media-PropertyCertificate-Id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
                - $ref: '#/components/schemas/Media'
      x-stoplight:
        id: n9dpl1eww29uu
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Media'
      description: 'This can be used to update:

        DocumentExpiryDate

        DocumentStartDate

        ShortDescription'
      tags:
      - Media
  /Media/{Id}/Download:
    parameters:
    - schema:
        type: string
      name: Id
      in: path
      required: true
    get:
      summary: Media download
      tags:
      - Media
      responses:
        '200':
          description: OK
      operationId: get-Media-Id-Download
      x-stoplight:
        id: lkfc230m8ttm6
      description: This will allow you to download the file as a stream
components:
  schemas:
    PrevNextPager:
      type: object
      properties:
        TotalItems:
          type: integer
          x-stoplight:
            id: qbm018n4fbivf
          description: The total number of items
        TotalPages:
          type: integer
          x-stoplight:
            id: 8d0f4tjvn3d91
          description: 'The total number of pages

            '
        Items:
          x-stoplight:
            id: x8n82kadpvt9w
          type: array
          items:
            x-stoplight:
              id: yp4jiel1kmn2j
            type: object
        NextURL:
          type: string
          x-stoplight:
            id: tcm929q75tirz
          description: The URL of the next page of results
        PreviousURL:
          type: string
          x-stoplight:
            id: 3hruq0fcrc5sz
          description: 'The URL of the previous page of results

            '
    ServiceProgrammeDef:
      title: ServiceProgrammeDef
      type: object
      properties:
        id:
          type: string
          readOnly: true
        EventType:
          type: string
          readOnly: true
        Class:
          type: string
          readOnly: true
        Category:
          type: string
          readOnly: true
        Description:
          type: string
          readOnly: true
        IsStatutory:
          type: boolean
          readOnly: true
        CostCode:
          type: string
          readOnly: true
        InstructionNotes:
          type: string
          readOnly: true
        InstructionDateOffsetPeriod:
          type: integer
          description: '0 = days, 1 = weeks, 2 = months

            '
          enum:
          - 0
          - 1
          - 2
          readOnly: true
        InstructionDateOffsetType:
          type: integer
          readOnly: true
        ServiceFrequency:
          type: integer
          readOnly: true
        ServiceFrequencyType:
          type: integer
          readOnly: true
          description: '0 = months, 1 = years, 2 = weeks

            '
          enum:
          - 0
          - 1
          - 2
        IsDisabled:
          type: boolean
          readOnly: true
        IsPropertyDefinition:
          type: boolean
          readOnly: true
          description: 'not used for posts.

            '
    Media:
      title: Media
      type: object
      description: Please see note on [downloading binary data](docs/Downloading-binary-data.md).
      properties:
        Id:
          type: string
          format: uuid
          description: Unique GUID of Media.
          readOnly: true
        URL:
          type: string
          readOnly: true
        ContentType:
          type: string
          description: 'The content and mime type of the document eg. example image/png. On POST, if the content type is left blank the content type will be derived from the ShortDesc field. For example where:

            * ContentType = null and a ShortDesc = "picture1.png" a content type of image/png will be derived

            * ContentType = "image/png" and a ShortDesc= "picture1" a content type of image/png will be derived

            * ContentType = "" and a ShortDesc = "picture1" will result in an error

            * ContentType = "xxxxx" and a ShortDesc = "picture1" will result in an error as the content type is not recognised.'
        MediaType:
          type: string
          readOnly: true
        MediaTypeDescription:
          type: string
        ShortDescription:
          type: string
          description: 'For POST this is required and should be the filename with extension e.g. "file.pdf"

            '
        AddedByUserTypeId:
          type: string
          description: 'Id of the user that uploaded the file

            '
          readOnly: true
        EncodedByteData:
          type: string
          description: 'Used for POST only. This data represents the binary document encoded to base-64

            '
        ServiceProgrammeDef:
          $ref: '#/components/schemas/ServiceProgrammeDef'
          x-stoplight:
            id: r3wrv8s4lrh41
          readOnly: true
        DocumentStartDate:
          type: string
          x-stoplight:
            id: 62jrrkrk0brff
          format: date-time
          readOnly: true
        DocumentExpiryDate:
          type: string
          x-stoplight:
            id: tmdafqhw3cn9l
          format: date-time
          readOnly: true
    Envelope:
      title: Envelope
      type: object
      description: This object is used to carry/return responses following post operations.
      properties:
        HttpStatusCode:
          type: integer
        HttpStatusCodeDesc:
          type: string
        Errors:
          type: array
          items:
            type: string
        Messages:
          type: array
          items:
            type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: ''
x-internal: false
